# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/

# Bot local files
*.db

# Python
__pycache__/
eno/scripts/__pycache__/

# Config file
config.yaml
eno/matrix-eno-bot.service
eno/scripts/config.rc

# e2ee store
store/

# Log files
*.log
